*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 20px 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.video-player-container {
    position: relative;
    width: 95%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    background-color: black;
    margin-inline: auto;
    align-items: center;
}

.video-player-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.250s;
}

video {
    width: 100%;
}

.previous-next-controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 20px;
    right: 20px;
}

.previous-next-controls button {
    color: #fff;
    font-size: 25px;
    background-color: rgba(90, 90, 90, 0.1);
    padding: 15px;
    border-radius: 2px;
    transition: all 0.15s;
}

.previous-next-controls button:hover {
    background-color: rgba(90, 90, 90, 0.5);
}

.video-controls {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: calc(20px - 5px);
    width: 90%;
}

.video-controls button {
    font-size: 25px;
    padding: 0 10px;
    color: #fff;
    opacity: 0.85;
    transition: all 0.15s;
}

.video-controls button:hover {
    opacity: 1;
}

.video-title {
    position: absolute;
    bottom: 10px;
    right: calc(20px - 5px);
    width: 30%;
    padding-left: 10px;
    color: #fff;
    font-size: 20px;
    overflow: auto;
    box-sizing: border-box;
    text-overflow: ellipsis;
    margin: 0 !important;
}

.fa-solid {
    width: 31px;
}

.volume-container {
    position: relative;
}

.volume-slider {
    position: absolute;
    bottom: 50px;
    left: -27px;
    width: 150%;
    height: 0;
    background-color: transparent;
    -webkit-appearance: none;
    cursor: pointer;
    transform: scale(0) rotate(270deg);
    transition: height .3s;
}

.volume-container:hover .volume-slider {
    height: 100%;
    transform: scale(1) rotate(270deg);
}

/*progress support*/
input[type=range].volume-slider.slider-progress {
    --max: 0;
    --min: 0;
    --value: 0;
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 17px + var(--ratio) * (100% - 17px));
}

input[type=range].volume-slider:focus {
    outline: none;
}

/*webkit*/
input[type=range].volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: #fff;
    border: none;
    box-shadow: 0 0 2px black;
    margin-top: calc(8px * 0.5 - 17px * 0.5);
}

input[type=range].volume-slider::-webkit-slider-runnable-track {
    height: 6px;
    border: none;
    border-radius: 0;
    background: rgba(100, 100, 100, .4);
    box-shadow: none;
}

input[type=range].volume-slider::-webkit-slider-thumb:hover {
    background: #d9d9d9;
}

input[type=range].volume-slider:hover::-webkit-slider-runnable-track {
    background: rgba(100, 100, 100, .5);
}

input[type=range].volume-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#fff, #fff) 0/var(--sx) 100% no-repeat, rgba(100, 100, 100, .4);
}

input[type=range].volume-slider.slider-progress:hover::-webkit-slider-runnable-track {
    background: linear-gradient(#f2f2f2, #f2f2f2) 0/var(--sx) 100% no-repeat, rgba(100, 100, 100, .5);
}

.timeline-container {
    width: 40%;
    margin-inline: 15px;
    display: flex;
    align-items: center;
    transition: height 0.150s;
}

.timeline-container:hover .timeline {
    height: 5px;
}

.timeline {
    position: relative;
    background-color: rgba(100, 100, 100, .5);
    height: 4px;
    width: 100%;
    transition: height 0.15s;
}

.timeline-before {
    background-color: rgba(100, 100, 100, .5);
    height: 100%;
    width: 100%;
    transition: height 0.15s;
}

.timeline-container:hover .thumb-indicator {
    height: 300%;
    top: -100%;
}

.timeline .thumb-indicator {
    position: absolute;
    height: 200%;
    top: -50%;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
    aspect-ratio: 1 / 1;
}

/*________________________________________________________________*/

input[type=range].timeline-input {
    -webkit-appearance: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 5px;
    background-color: rgba(100, 100, 100, .7);
    opacity: 0.7;
    transition: all 0.200s;
}

.timeline-input:hover {
    opacity: 1;
}

input[type=range].timeline-input.slider-progress {
    --timelinemax: 0;
    --timelinemin: 0;
    --timelinevalue: 1;
    --range: calc(var(--timelinemax) - var(--timelinemin));
    --ratio: calc((var(--timelinevalue) - var(--timelinemin)) / var(--range));
    --sx: calc(0.5 * 17px + var(--ratio) * (100% - 17px));
}

input[type=range].timeline-input:focus {
    outline: none;
}

input[type=range].timeline-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: #fff;
    border: none;
    box-shadow: 0 0 2px black;
    margin-top: calc(8px * 0.5 - 17px * 0.5);
}

input[type=range].timeline-input::-webkit-slider-runnable-track {
    height: 5px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

input[type=range].timeline-input::-webkit-slider-thumb:hover {
    background: #d9d9d9;
}

input[type=range].timeline-input.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#fff, #fff) 0/var(--sx) 100% no-repeat, rgba(100, 100, 100, .4);
}

input[type=range].timeline-input.slider-progress:hover::-webkit-slider-runnable-track {
    background: linear-gradient(#f2f2f2, #f2f2f2) 0/var(--sx) 100% no-repeat, rgba(100, 100, 100, .5);
}

.duration-container {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.duration-container span {
    margin: 0 5px;
}

.video-controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.250s;
}

.video-player-container:hover .video-controls-container,
.video-player-container:hover::before {
    opacity: 1;
}

.gallery-slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
    margin-inline: auto;
}

.gallery-videos-container {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    max-width: 1000px;
}

.gallery-videos-container::-webkit-scrollbar {
    display: none;
}

.gallery-video {
    width: 206px;
    height: 240px;
    margin: 0 5px;
    padding: 10px;
    flex-shrink: 0;
    transition: all 0.200s;
}

.video-name {
    height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.right-arrow, .left-arrow {
    font-size: 50px;
    z-index: 100;
    padding: 0 24px 0 24px;
    margin-bottom: 112px;
}

.video-thumbnail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-thumbnail video, .video-thumbnail img {
    width: 100%;
    border-radius: 15px;
}

video:not(#main-video), .video-thumbnail img {
    cursor: pointer;
    transition: opacity 0.150s;
}

video:not(#main-video):hover, .video-thumbnail img:hover {
    opacity: 0.8;
}

.mainvid-default {
    color: #fff;
    height: 100%;
    font-weight: bold;
}

.is-active {
    border: 3px solid #324b54;
}

.play-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    z-index: 999;
    pointer-events: none;
}